.p1{
    text-align: center;
}
.p2{
    opacity: 0.5;
    font-size: small;
    line-height: 2;
}
.p3{
    opacity: 0.5;
}
.p4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p5 button{
    width:120px;
    height:50px;
    background-color: white;
}
